.student h2, .student video {
    margin-top: 5rem;
    transition: 0.3s;
  }
  .student p,
  p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.6;
  }
  .student .row {
    flex-wrap: wrap;
    display: flex;
    padding :5rem;
    margin-top: 5rem;
    justify-content: center;
  }
  
  .student .row .student-card {
    text-align: center;
    padding-bottom: 4rem;
  }
  
  .student .row .student-card img {
    margin: 90px;
    border-radius: 50%;
    width: 200px;
  }
  
  .student .row .student-card .student-card-title {
    margin: 0.1rem;
  }
  .bx{
    transition: 0.3s;
  }
  
  .bxl-twitter:hover{
    color: skyblue;
  }
  
  .bx:hover {
    transform: scale(1.2);
  }
  
  .bxl-tiktok {
    color: #00ccff;
  }
  
  .bxl-tiktok:hover {
    text-shadow: 4px 2px 1px rgba(255, 0, 0, 0.5);
    color: rgba(135, 206, 235, 0.8);
  }
  
  .bxl-spotify {
    color: lightgreen;
  }
  
  .bxl-spotify:hover {
    color: rgba(29, 232, 29, 0.5);
  }
  
  .bxl-instagram {
    color: rgb(230, 25, 114);
  }
  
  .bxl-instagram:hover{
    color: rgb(241, 202, 219);
  }
  
  .bxl-youtube {
    color: red;
  }
  
  .bxl-youtube:hover {
    color: rgba(255, 0, 0, 0.5);
  }
  
  .bxl-google {
    color: #fff;
  }
  
  .bxl-google {
    color: #fff;
  }
  
  .bxl-google:hover {
    text-shadow: 3px 1px 1px rgba(255, 0, 0, 0.5);
    color: rgb(255, 255, 255);
  }
  